/* リセットCSS */
body {
  font-size: 14px;
  color: #393839;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  color: #393839;
}

ul,li {
  padding: 0;
  margin: 0;
  color: #393839;
}

/*header*/
header{
  width: 100%;
}

.heading {
  position: fixed;
  text-decoration: none;
  width: 10%;
  padding: 20px 24px 10px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists{
  font-size: 30px;
  color: #393839;
}

.navbar {
  width: calc(100%-20%);
  right: 0;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav-lists-right {
  display: flex;
}

.nav-lists-right li {
  margin-right: 20px;
}

.jpkr{
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.jpkr #languageText {
  display: none;
}

.nav-lists {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hidden{
  display: none;
  height: 0px;
  margin-left: 10px;
}

.menu_line{
  font-size: 25px;
  background-color: #fff;
  padding: 10px 15px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: calc(100%-20%);
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .nav-lists-right {
    display: flex;
  }
  
  .nav-lists-right li {
    margin-right: 15px;
  }

  .nav-lists {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
  }
  
  .hidden{
    display: none;
    height: 0px;
  }
  
  .menu_line{
    font-size: 15px;
    background-color: #fff;
    padding: 10px 15px;
  }
}

.nav-lists a {
  text-decoration: none;
}

a{
  color: #393839;
  transition: color 0.3s; /* カラーのトランジション効果 */
  text-decoration: none;
}

a:hover {
  color: #c81db7;
}

li{
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.contents{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-view{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  height: 50%;
  width: 50%;
  font-size: 80px;
  text-align: center;
  font-family: Caveat;
}

.top-image{
  height: 40%;
  width: 40%;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 80%;
    font-size: 40px;
  }

  .top-image{
    height: 60%;
    width: 60%;
    opacity: 0.9;
  }
}

/*profile*/
.upper-content{
  height: 450px;
  margin: 0 150px;
}

.heading-name {
  text-align: center;
  border-bottom: 1px solid #c81db7;
  width: 200px;
  margin: 40px auto;
}

.heading-name a{
  text-decoration: none;
  color: #393839;
}

.messages {
  width: 50vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 30px;
}

@media only screen and (max-width: 600px) {
  .messages {
    width: 70vw;
    margin: 0 auto;
  }
  .message {
    font-size: 12px;
    margin: 0 0 10px 0;
  }
}

.upper-content2{
  height: 450px;
  margin: 110px 150px 0;
}

/*work紹介*/
.middle-content{
  height:450px;
  margin: 100px 100px 300px;
  padding: 0 20px;
}

.works__list {
  display: flex;
  overflow-x: auto; /* 横スクロールのための追加 */
  gap: 70px; /* コンテンツ間の間隔を調整 */
  padding-bottom: 20px; /* スクロールバーの下部との間隔を調整 */
  margin: 50px 0;
}

.works__item {
  width: 300px;
  margin: 0 50px; /* 写真同士の間のスペースを追加 */
}

@media only screen and (max-width: 600px) {
  .middle-content {
    margin-bottom: 300px; /* Worksコンテンツの下部のマージンを調整 */
    height:200px;
    padding: 40px 20px;
  }
  
  .works__item {
    flex: 0 0 calc(100% - 40px); /* モバイル表示時の幅を調整 */
  }

  .works__list {
    flex-direction: column;
    align-items: center;
  }

  .works__item-btn-block, h5, p{
    margin: 0 20px;
  }
}

.pass{
  text-align: center;
}

.work-image{
  height: 200px;
}

.work-name{
  font-size: 16px;
  text-align: center;
}

.button{
  font-family: Caveat;
  font-size: 25px;
  text-decoration: none;
  color: #393839;
}

/*skill*/
.skill {
  padding-top: 150px;
  padding-bottom: 180px;
  margin-top: 200px;
  background-color: #e1e1e1;
}

@media only screen and (max-width: 600px) {
  .skill {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 1600px;
  }
}


.bottom-content{
  height: 800px;
  margin: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.contact{
  margin-top: 150px;
}

.contact a {
  text-decoration: none;
}


.jump-btn {
  width: 80px;
  height: 80px;
  bottom: 5px;
  left: 20px;
  position: fixed;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .jump-btn {
    width: 100px;
    height: 100px;
    left: 10px;
  }
}

/*footer*/
.footer{
  margin-top: 380px;
  display: flex;
  justify-content: center;
  text-align: center;
}

