/* リセットCSS */
body {
  font-size: 14px;
  color: #393839;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 2px 0;
  color: #393839;
}

ul,li {
  padding: 0;
  margin: 0;
  color: #393839;
}

/*header*/
.heading {
  position: fixed;
  text-decoration: none;
  width: calc(100% - 90%);
  padding: 20px 24px 10px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists{
  font-size: 30px;
  color: #393839;
}

.navbar {
  right: 0;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav-lists-right {
  display: flex;
}

.nav-lists-right li {
  margin-right: 20px;
}

.jpkr{
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.jpkr #languageText {
  display: none;
}

.nav-lists {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hidden{
  display: none;
  height: 0px;
  margin-left: 10px;
}

.menu_line{
  font-size: 25px;
  padding: 10px 15px;
}

.nav-lists a {
  text-decoration: none;
}

a{
  color: #393839;
  transition: color 0.3s; /* カラーのトランジション効果 */
  text-decoration: none;
}

a:hover {
  color: #c81db7;
}

li{
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.contents{
  display: flex;
  flex-direction: column;
}

.first-view{
  display: flex;
  justify-content: flex-end; /* 要素を右側に寄せる */
  align-items: center;
  background-color: #c2c2c2;
  position: relative;
  overflow: hidden;
}

.logo{
  font-size: 295px;
  color: rgba(250, 4, 254, 0.4);
  top: 10%;
  left: -9%;
  line-height: 1.2; /* 行間を詰める */
  position: absolute;
  transform: rotate(-9deg);
  text-align: center;
  font-family: Caveat;
  z-index: 1;
}

.top-image{
  height: 54%;
  width: 54%;
  opacity: 0.5;
  z-index: 0;
}



.heading-name {
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  width: 200px;
  margin: 40px auto;
  font-size: 70px;
}

.heading-name a{
  text-decoration: none;
  color: #393839;
}

.messages {
  width: 50vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 30px;
}

.upper-content2{
  margin: 110px;
  padding: 100px 140px;
}

/*work紹介*/
.middle-content{
  width: 100%;
  padding: 130px 0 100px 0;
  margin-bottom: 50px;
  background-color: #fff;
}

.work-heading-name{
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  width: 200px;
  margin: 40px auto;
  font-size: 70px;
}

.works__list {
  display: flex;
  overflow-x: auto; /* 横スクロールのための追加 */
  gap: 20px; /* コンテンツ間の間隔を調整 */
  padding-bottom: 20px; /* スクロールバーの下部との間隔を調整 */
  margin: 50px 0;
}

.works__item {
  margin: 0 50px; /* 写真同士の間のスペースを追加 */
}

.pass{
  text-align: center;
}

.work-image{
  height: 280px;
}

.work-name{
  font-size: 16px;
  text-align: center;
}

.button{
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  color: #383838;
  border: solid #383838;
}

/*skill*/
.skill {
  padding: 150px 0;
  background-color: #c2c2c2;
}

.skill-heading-name{
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  margin: 40px auto;
  font-size: 70px;
}

.bottom-content{
  margin: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/*contact*/
.contact{
  padding: 180px 0;
}

.contact a {
  text-decoration: none;
}

.contact-texts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text{
  font-size: large;
}

/*profile*/
.profile{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #383838;
}

.profile-image{
  height: 160px;
  width: 160px;
  margin: 0 50px 0 200px;
  border-radius: 100px;
}

.profile-texts{
  display: flex;
  flex-direction: column;
}

.profile-text{
  margin: 5px 0;
  color: #fff;
}

.profile-text.bold {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}

.profile-texts2{
  margin-left:90px;
  display: flex;
  flex-direction: column;
  padding-left: 30px; /* 仕切りの左側に余白を追加 */
  border-left: 1px solid #ccc; /* 縦線を追加 */
  color: #fff;
}

.jump-btn {
  width: 70px;
  height: 70px;
  bottom: 320px;
  left: 20px;
  position: fixed;
  box-sizing: border-box;
}

/*footer*/
.footer{
  padding-left: 50px;
  text-align: left;
  color: #fff;
  background-color: #383838;
}

/*スマホ表示*/
@media only screen and (max-width: 768px) {
  .heading {
    max-width: 100%;
    width: 100%;
  }

  .lists{
    font-size: 30px;
    color: #c81db7;
  }

  .navbar {
    justify-content: flex-end;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }

  .navbar ul {
    display: none; /* ul要素を非表示にする */
  }
  
  .nav-lists-right {
    display: flex;
  }
  
  .nav-lists-right li {
    margin-right: 15px;
  }

  a{
    color: #c81db7;
    text-decoration: none;
  }

  .nav-lists {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
  }
  
  .hidden{
    display: none;
    height: 0px;
    margin-right: 500px;
  }
  
  .menu_line{
    font-size: 20px;
    padding: 7px 15px;
  }
  
  .upper-content{
    padding-top: 250px;
  }

  .messages {
    width: 70vw;
    margin: 0 auto;
  }
  .message {
    font-size: 12px;
    margin: 0 0 10px 0;
  }

  .first-view{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
    position: relative;
    overflow: visible; /* overflowを解除する */
    }

  .logo {
    width: 80%;
    font-size: 80px;
    font-weight: bold;
    color: rgba(250, 4, 254, 0.433);
    top: 40%; /* 垂直方向中央に配置 */
    left: 10%;
    transform: rotate(-8deg);
    position: absolute;
    text-align: center;
  }
  

  .top-image{
    height: 60%;
    width: 60%;
    opacity: 0.9;
  }

  .upper-content2{
    padding: 240px 20px;
  }

  .middle-content {
    padding: 100px 20px 0 20px;
    margin-bottom: 0;
  }
  
  .work-heading-name{
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    width: 200px;
    margin: 0px auto;
    font-size: 50px;
  }

  .works__item {
    flex: 0 0 100%;
  }

  .work-image{
    height: 200px;
  }

  .works__list {
    flex-direction: column;
    align-items: center;
  }

  .works__item-btn-block, h5, p{
    margin-bottom: 20px;
  }

  .skill {
    padding: 120px 0;
  }

  .skill-heading-name{
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin: 20px auto;
    font-size: 50px;
  }

  .contact{
    padding: 220px 65px;
  }
  .contact-text{
    font-size: medium;
  }

  .profile {
    flex-direction: column; /* 要素を縦に配置 */
    align-items: center;
  }

  .profile-image {
    height: 120px;
    width: 120px;
    margin: 20px auto; /* 中央に配置 */
    border-radius: 100px;
  }

  .profile-texts {
    margin-bottom: 10px;
  }

  .profile-texts2 {
    border-left: none; /* スマホ表示時は縦線を非表示にする */
    padding-left: 0; /* 左の余白をリセット */
    margin-left: auto; /* 中央に配置する */
    padding: 0 50px;
  }
  
  .jump-btn {
    display: none; /* スマホ表示時に非表示にする */
  }

  .footer{
    display: flex;
    text-align: center;
    color: #fff;
    background-color: #383838;
    padding-left: 0;
  }

}